<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="extensions.webview">
	
	<application android:debuggable="::DEBUG::">
    
        <activity
            android:name="extensions.webview.WebViewActivity"
            android:theme="@style/FloatingActivityTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" />

    </application>

</manifest>
